@import './common.scss';

.container_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:56px;
    padding:0 16px;
    border-bottom:1px solid $header_gray1;
    background:$header_bg;
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index:1030;

    .header_start{
        display:flex;
        align-items: center;


        .h_box{
            // 햄버거 아이콘
            .hambuger_btn{
                background:inherit;
                cursor: pointer;
                border:0;  
                
                // svg
                .style-scope{
                    pointer-events:none;
                    display:block;
                    width:24px;
                    height:24px;
                }                
            }
        }


        .l_box{
            margin-left:10px;
        }
    }



    .header_center{
        display:flex;
        align-items: center;
        flex:0 1 580px;


        .input_box{
            width:90%;
            height:40px;
            border:1px solid $header_gray3;
            outline: none;
            padding:0 10px;
        }

        .input_box:focus{
            border: 1.5px solid $header_focus;
            transition: 0.35s ease;
        }

        .search-button{
            width:60px;
            height:40px;
            padding:9px 5px;
            background:$header_gray2;
            border:1px solid $header_gray3;
            border-left:0;
            cursor: pointer;
        }

        .search-button:hover{
            background:$header_hover1;
        }
    }



    .header_end{
        min-width:225px;
        display:flex;
        align-items: center;
        justify-content: flex-end;


        .end_btn{
            background:none;
            border:0;
        }

        .end_add{
            width:20px;
            height:20px;
        }

        .end_login{
            display:flex;
            height:40px;
            flex-direction: row;
            align-items: center;
            border:1px solid #065fd4;
            padding:5px 15px;
            margin-left:10px;

             // svg
            .style-scope{
                pointer-events:none;
                display:block;
                width:24px;
                height:24px;
                fill:#065fd4;
            }

            .end_login_txt{
                font-size:14px;
                color:#065fd4;
                margin-left:5px;
                
            }
        }
    }
}


.container_aside{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    z-index:1020;
    // background:#f5f5f5;
    background:red;
    border:1px solid red;
    width:240px;
    overflow: hidden;
}

aside.open:not(.mobile) + .content{
    margin-left:240px;
}
